html {
  padding: 1em;
  background: hsl(156, 100%, 94%);
}

body {
  /* font-family: monospace, monospace; */
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 50ch;
  font-size: min(1.3em, 5vw);
}

p, h1, h2, h3 {
  margin: 0.7em 0;
  color: black;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  line-height: 1.3;
  font-weight: bold;
  color: hsl(0, 0%, 14%);  /* grey */
  font-size: 1em;
}

p {
  line-height: 1.3;
  color: hsl(0, 0%, 14%);  /* grey */
}

li {
  line-height: 1.3;
  color: hsl(0, 0%, 14%);  /* grey */
}

li::marker {
  color: hsl(0, 0%, 14%);  /* grey */
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  background-color: hsl(61, 95%, 81%);  /* yellow */
  border-radius: 0.2em;
}

img {
  max-width: 90%;
  height: auto;
}

.center {
  /* Center elements in center class*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

blockquote {
  font-size: 120%;
  line-height: 120%;
  font-weight: lighter;
  font-style: italic;
  background: rgb(249, 249, 249, 0.7);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
